@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    margin-top: 70px;
    overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    color: #333;
    font-weight: 300;
}

.header h1{
    font-family: "Raleway";
    color: #333;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 50px;
    text-align: center;
    margin-top: 20px;
}

p{
    line-height: 28px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: #f86c37;
}

a:hover,a:focus{
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*  scroll */
.scrollbar{
    margin-top: -10px;
    width: auto;
    height: auto;
    background-color: transparent;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    height: 25px;
    margin:150px;
}
::-webkit-scrollbar-thumb {
    height: 2px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}


/* navbar top*/

.navbar-inverse .navbar-brand{
    color: #999;
    font-weight: bolder;
    font-family: "Raleway";
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: -4px;
    /*text-transform: uppercase;*/
}

.navbar{
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse{
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

/*.navbar-inverse .navbar-nav > .active > a{
    background-color: #ff7878;
} */

.navbar-text{
    margin-top: 11px;
    margin-bottom:-5px;
    padding:0;
}





/*background image*/
/*.imageMain{
    background: url(../img/imgMain.jpg)no-repeat center;
    width: 100%;
    height: 92%;
    margin-top: -10px;
    background-size: cover;
    position: absolute;
    background-position: center center;
    z-index: 0;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

}

.imageMain::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
    right: 0px;
    bottom: 0;
    background-color: rgba(0,0,0,0.35);
    z-index: 0;
}*/

/* sign in and sign up form styles*/
/*.card-container.card {
    max-width: 450px;
    padding: 40px 40px;
}

.btn {
    font-weight: 700;
    height: 36px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    cursor: default;
}*/

/*
 * Card component
 */
/*.card {
    padding: 20px 25px 30px;
    margin: 0 auto 25px;
    margin-top: 50px;
}*/

/*
 * Form styles
 */
/*.profile-name-card {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 20px 0 0;
    min-height: 1em;
}

.reauth-email {
    display: block;
    color: #404040;
    line-height: 2;
    margin-bottom: 10px;
    font-size: 14px;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin{
    margin-top: 70px;
}

.form-signup{
    margin-top: 0px;
}

.form-signin #inputEmail,
.form-signin #inputPassword{
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signup #inputEmail,
.form-signup #inputPassword,
.form-signup #inputBirthDate,
.form-signup #inputFirstName,
.form-signup #inputLastName{
    direction: ltr;
    height: 44px;
    font-size: 16px;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signup input[type=email],
.form-signup input[type=password],
.form-signup input[type=text],
.form-signup button {
    width: 100%;
    display: block;
    margin-bottom: 10px;
    z-index: 1;
    position: relative;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.form-signin input[type="checkbox"] {
    display: inline;
}

.form-signin .checkbox{
    margin-bottom: 10px;
    margin-left: 10px;
    font-weight: bold;
    margin-top: -2px;
    color: #0f0f0f;
}

.form-signin .form-control:focus {
    border-color:#ff7878;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #ff7878;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #ff7878;
}

.btn.btn-signin {
    background-color: #ff7878;
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: #ff7878;
}*/

/* footer ???????????????????????????? delete?*/
/*.row-first{
    margin-bottom:10px;
    margin-top:50px;
}

.contact a{
    display:block;
    font-size:15px;
    text-align:center;
    color:#ccc;
    padding:5px
}

.row-sign-in{
    margin-top: 11px;
}

.contact a:hover{
    background-color:rgba(0,0,0,0.25);
    text-decoration:none
}

.contact a.skype:hover,.fa-skype{
    color:#00aff0
}
.contact a.google:hover,.fa-google-plus{
    color:#dd4b39
}
.contact a.linkedin:hover,.fa-linkedin{
    color:#0e76a8
}
.contact a.twitter:hover,.fa-twitter{
    color:#00acee
}

.row-sign-up{
    margin-top: -50px;
}*/
/* toDo change colors of navbar menu when it's minimized, calendar color*/

/* background pic in main page*/
/*.background-main-pic{
    width: 100%;
    height: 170px;
    margin-top: -10px;
    object-fit: cover;
    position: absolute;
    display: block;
    background-size: auto;

}*/

.background-main-pic{
    width: 100%;
    height: 200px;
    margin-top: -10px;
    background-image: url("../img/travel-top.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    opacity: 0.75;

}


img { /*todo масштаб картинки*/
    opacity: 0.65;
}

#travel-header-row h1{
    margin-top: 75px;
    text-align: center;
    font-size: 52px;
    color: #0f0f0f;
}

div.formBox{
    margin-top: -20px;
}



/* map */
#map{
    width: 100%;
    height: 470px;

}

#map2{
    width: 100%;
    height: 200px;
}

.container-map{
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
}

/* parameter menu*/
.formBox{
    margin-top: 10px;
    padding: 50px;
}
.formBox  h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 48px;
}
.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: #3c3c3c;
}
.inputBox .inputText{
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}

textarea{
    height: 100px !important;
}
.button{
    width: 100%;
    margin: 0;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    outline: none;
    background: #ff7878;
    color: #f9f9f9;
    font-family: Lato;
    font-size: 20px;
}


/* sign up */
.background-sign-pic{
    width: 100%;
    height: 100%;
    margin-top: -10px;
    object-fit: cover;
    position: absolute;
    display: block;
}

#sign-pic{
    opacity: 1.7;
}
#logbox {
    padding: 10px;
    margin: 35px auto;
    width: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#signup h1 {
    font-family: Raleway;
    text-align: center;
}

.input {
    font-family: Lato;
    width: 90%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}
.input:focus {
    outline: none;
    border-bottom-color: #ff7878 !important;
}
.input:hover {
    border-bottom-color: #dcdcdc;
}
.input:invalid {
    box-shadow: none;
}

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
    position: relative;
    width: 85%;
    height: 40px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #ff7878;
    border: none;
    -webkit-box-shadow: 0 5px 0 #E65151;
    -moz-box-shadow: 0 5px 0 #E65151;
    box-shadow: 0 5px 0 #E65151;
}
.inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #E65151;
    -moz-box-shadow: 0 3px 0 #E65151;
    box-shadow: 0 3px 0 #E65151;
}
.inputButton:active {
    top: 5px;
    box-shadow: none;
}
.inputButton:focus {
    outline: none;
}

/* for routes */

.roomy-50{
    padding:10px 0px;
}

.bs-pricing-four {
    font-size: 15px;
    font-family: Lato;
}
.bs-pricing {
    background:#fff;
}

.bs-pricing-four .bs {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #444;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#small-centered {
    width: 70%;
    margin-left: 15%;
}

.bs-pricing-four .bs-pricing {
    text-align: center;
    position: relative;
}


.bs-pricing-four .bs-pricing .bs-caption {
    margin-top: 5px;
}

.bs-pricing-four .bs-pricing .content {
    padding: 5px;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
}

.bs-pricing-four .bs-pricing ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;

}

.bs-pricing-four .bs-pricing ul li {
    text-align: center;
    padding: 12px 0;
}
.bs-pricing-four .bs-pricing ul:not(.nav-pills) li{
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}

/* preloader */

.preloader {
    padding: 50px;
    background: url('../img/preloader2.gif') no-repeat 50% 50% transparent;
}

/* collapse*/
/*.card-item {display:inline-block; width:100%; box-shadow: rgba(0,0,0,0.4) 1px 1px 3px 0px;border-radius: 3px; background: #fff; border: 0; margin-bottom:30px;}
.card-item .panel-heading {font-size: 20px;color: #000;overflow: inherit;line-height: normal;}
.card-blocks{columns:3; column-gap:30px; }
.card-blocks:after{content:'';display:block;height:50px;}
.card-head span{display:inline-block; padding:15px; background:#333;color:#fff; padding:0 5px; cursor:pointer;}
.card-body{transition:all 0.4s; padding-top:0;padding-bottom:0;}
.card-body:before,.card-body:after{content:'';display:block;height:15px;}
.card-head span::before{content:"\e113";float: right; font-family: 'Glyphicons Halflings'; transition:all 0.4s;}
.collapsed .card-head span::before  {transform:rotate(-180deg);}*/


/* collapse */
.panel-group {
    padding-top: 50px;
}
.panel-default {
    border-radius: 0;
    border: none;
    background: none;
    margin-bottom: 0;
    padding-bottom: 14px;
}
.panel-body ul:not(.nav-pills){
    border-top: 1px solid rgba(153, 153, 153, 0.1);
}
.panel-default > .panel-heading {
    border: none;
    background: none;
    padding: 0;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
    padding: 0 0 0 32px;
}
.panel-default h5 {
    font: 300 19px "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0 0 5px;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}
.panel-default .accordion-toggle:before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background: #ff7878 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.panel-default .collapsed:before {
    background: #495764 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}
.panel-default .panel-title:hover .collapsed:before {
    background-color: #ff7878;
}
.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
    color: #2d2d2d;
    text-decoration: none;
}
.panel-default .collapsed {
    color: #2d2d2d;
}