@import url('https://fonts.googleapis.com/css?family=Lato|Raleway');

body{
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    -webkit-font-smoothing: antialiased;
    margin-top: 70px;
    overflow-y: scroll;
}

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway";
    color: #333;
    font-weight: 300;
}

.header h1{
    font-family: "Raleway";
    color: #333;
    font-size: 48px;
    font-weight: 300;
    text-transform: uppercase;
    padding: 50px;
    text-align: center;
    margin-top: 20px;
}

p{
    line-height: 28px;
    margin-bottom: 25px;
}

.centered{
    text-align: center;
}

a{
    color: #f86c37;
}

a:hover,a:focus{
    color: #7b7b7b;
    text-decoration: none;
    outline: 0;
}

hr{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
/*  scroll */
.scrollbar{
    margin-top: -10px;
    width: auto;
    height: auto;
    background-color: transparent;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 10px;
    height: 25px;
    margin:150px;
}
::-webkit-scrollbar-thumb {
    height: 2px;
    border: 4px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    -webkit-border-radius: 7px;
    background-color: rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: inset -1px -1px 0px rgba(0, 0, 0, 0.05), inset 1px 1px 0px rgba(0, 0, 0, 0.05);
}
::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
::-webkit-scrollbar-corner {
    background-color: transparent;
}


/* navbar top*/

.navbar-inverse .navbar-brand{
    color: #999;
    font-weight: bolder;
    font-family: "Raleway";
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: -4px;
    /*text-transform: uppercase;*/
}

.navbar{
    height: 60px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.navbar-inverse{
    background-color: #2d2d2d;
    border-color: #2d2d2d;
}

/*.navbar-inverse .navbar-nav > .active > a{
    background-color: #ff7878;
} */

.navbar-text{
    margin-top: 11px;
    margin-bottom:-5px;
    padding:0;
}

/* toDo change colors of navbar menu when it's minimized, calendar color*/

/* background pic in main page*/
.background-main-pic{
    width: 100%;
    height: 140px;
    margin-top: -10px;
   /* background-image: url("../img/travel-top.jpg");*/
    background-position: 50% 50%;
    background-size: cover;
    object-fit: cover;
    display: block;
    position: absolute;
}

#travel-header-row h1{
    margin-top: 33px;
    text-align: center;
    font-size: 52px;
    color: #2b2b2b;
    margin-bottom: 7px;
}

/* map */
#map{
    width: 100%;
    height: 470px;

}

#map2{
    width: 100%;
    height: 200px;
}

.container-map{
    margin-top: 30px;
    margin-bottom: 20px;
    align-items: center;
}


/* parameter menu*/
.formBox{
    margin-top: 10px;
    padding: 50px;
}
.formBox  h1{
    margin: 0;
    padding: 0;
    text-align: center;
    margin-bottom: 50px;
    font-family: Raleway;
    text-transform: uppercase;
    font-size: 48px;
}
.inputBox{
    position: relative;
    box-sizing: border-box;
    margin-bottom: 30px;
    color: #3c3c3c;
}
.inputBox .inputText{
    position: absolute;
    font-size: 24px;
    line-height: 50px;
    transition: .5s;
    opacity: .5;
}
.inputBox .input{
    position: relative;
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 24px;
    border-bottom: 1px solid rgba(0,0,0,.5);

}

textarea{
    height: 100px !important;
}
.button{
    width: 100%;
    margin: 0;
    height: 50px;
    border: transparent;
    border-radius: 5px;
    outline: none;
    background: #ff7878;
    color: #f9f9f9;
    font-family: Lato;
    font-size: 20px;
}


/* sign up */
.background-sign-pic{
    width: 100%;
    height: 100%;
    margin-top: -10px;
    object-fit: cover;
    position: absolute;
    display: block;
}

#sign-pic{
    opacity: 1.7;
}
#logbox {
    padding: 10px;
    margin: 35px auto;
    width: 500px;
    background-color: #fff;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

#signup h1 {
    font-family: Raleway;
    text-align: center;
}

.input {
    font-family: Lato;
    width: 90%;
    height: 50px;
    display: block;
    margin: 0 auto 15px;
    padding: 0 15px;
    border: none;
    border-bottom: 2px solid #ebebeb;
}
.input:focus {
    outline: none;
    border-bottom-color: #ff7878 !important;
}
.input:hover {
    border-bottom-color: #dcdcdc;
}
.input:invalid {
    box-shadow: none;
}

.pass:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

.inputButton {
    position: relative;
    width: 85%;
    height: 40px;
    display: block;
    margin: 30px auto 30px;
    color: white;
    background-color: #ff7878;
    border: none;
    -webkit-box-shadow: 0 5px 0 #E65151;
    -moz-box-shadow: 0 5px 0 #E65151;
    box-shadow: 0 5px 0 #E65151;
}
.inputButton:hover {
    top: 2px;
    -webkit-box-shadow: 0 3px 0 #E65151;
    -moz-box-shadow: 0 3px 0 #E65151;
    box-shadow: 0 3px 0 #E65151;
}
.inputButton:active {
    top: 5px;
    box-shadow: none;
}
.inputButton:focus {
    outline: none;
}

/* for routes */

.roomy-50{
    padding:10px 0px;
}

.bs-pricing-four {
    font-size: 15px;
    font-family: Lato;
}
.bs-pricing {
    background:#fff;
}

.bs-pricing-four .bs {
    display: inline-block;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 6px;
    color: #444;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

#small-centered {
    width: 70%;
    margin-left: 15%;
}

.bs-pricing-four .bs-pricing {
    text-align: center;
    position: relative;
}

.bs-pricing-four .bs-pricing .bs-caption {
    margin-top: 5px;
}

.bs-pricing-four .bs-pricing .content {
    padding: 5px;
    margin-bottom: 0px;
    z-index: 2;
    position: relative;
}

.bs-pricing-four .bs-pricing ul {
    list-style: none;
    padding: 0;
    margin: 10px auto;

}

.bs-pricing-four .bs-pricing ul li {
    text-align: center;
    padding: 12px 0;
}
.bs-pricing-four .bs-pricing ul:not(.nav-pills) li{
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
}


/* preloader */
.preloader {
    padding: 50px;
    background: url('../img/preloader2.gif') no-repeat 50% 50% transparent;
}


/* collapse */
.panel-group {
    padding-top: 50px;
}
.panel-default {
    border-radius: 0;
    border: none;
    background: none;
    margin-bottom: 0;
    padding-bottom: 14px;
}
.panel-body ul:not(.nav-pills){
    border-top: 1px solid rgba(153, 153, 153, 0.1);
}
.panel-default > .panel-heading {
    border: none;
    background: none;
    padding: 0;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
    padding: 0 0 0 32px;
}
.panel-default h5 {
    font: 300 19px "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0 0 5px;
}
.panel-group .panel+.panel {
    margin-top: 15px;
}
.panel-default .accordion-toggle:before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background: #ff7878 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px 10px;
    border-radius: 50%;
    margin-right: 10px;
    position: relative;
    top: 4px;
}
.panel-default .collapsed:before {
    background: #495764 url(http://keenthemes.com/assets/bootsnipp/toggle-icons.png) no-repeat 6px -148px;
}
.panel-default .panel-title:hover .collapsed:before {
    background-color: #ff7878;
}
.panel-default .accordion-toggle,
.panel-default .accordion-toggle:focus,
.panel-default .accordion-toggle:hover,
.panel-default .accordion-toggle:active {
    color: #2d2d2d;
    text-decoration: none;
}
.panel-default .collapsed {
    color: #2d2d2d;
}


/* touchspin  +-*/
*::-webkit-input-placeholder {
    color: #3c3c3c;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: #3c3c3c;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: #3c3c3c;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: #3c3c3c;
}

#label-passengers{
    font-family: Lato;
    font-size: 24px;
    font-weight: 100;
    padding: 0;
    text-align: left;
    color: #3c3c3c;
}

#demo2{
    text-align: center;
}

